name: Football Predictions

on:
  workflow_dispatch:

jobs:
  run-predictions:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run prediction script
      run: |
        python app_football_auto_push/main.py

    - name: Commit predictions
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"
        git add predictions.txt
        git commit -m "Auto update predictions" || echo "No changes"
        git push
